/* DAILY NEWS SECTION */
.daily-news-container {
  display: flex;
  flex-direction: column;
}
.daily-news-box {
  margin-top: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.daily-news-box li {
  display: flex;
  width: 100%;
  min-width: 100%;
  margin-bottom: 10px;
}
.daily-news-article {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #000;
}
.daily-news-image {
  display: flex;
  margin-right: 5px;
  position: relative;
}
.daily-news-text {
  margin-top: 5px;
  height: 75%;
  overflow: hidden;
}

.daily-news-text h3 {
  font-size: 10px;
}

.video-control {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: white;
  width: 40px;
  height: 20px;
  bottom: 0;
}
.video-control span {
  padding-left: 5px;
}
.fa-message {
  border-left: 1px solid gray;
  font-size: 10px;
  padding-left: 5px;
  margin-left: 5px;
}
@media only screen and (max-width: 600px) {
  .daily-news-text p {
    display: none;
  }
  .daily-news-image {
    max-width: 100px;
  }
  .daily-news-text {
    max-width: 140px;
  }
  #to-hide-small {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
  .daily-news-box {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 12px;
  }
  .daily-news-image {
    max-width: 50%;
  }
  .daily-news-text {
    height: 85%;
  }
  .daily-news-text h3 {
    font-size: 12px;
  }
  .daily-news-text p {
    font-size: 9px;
  }
  #to-hide-small {
    display: none;
  }
  #points {
    display: none;
  }
}
@media screen and (min-width: 991px) and (max-width: 1400px) {
  .daily-news-container {
    width: 75%;
  }
  .daily-news-box {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    grid-column-gap: 9px;
    grid-row-gap: 10px;
    width: 100%;
  }
  .daily-news-article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .daily-news-image {
    width: 100%;
  }
  .daily-news-text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 5px;
    height: 80px;
  }
  .daily-news-text h3 {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .daily-news-text p {
    font-size: 11px;
  }
  #points {
    display: none;
  }
}
