/* FEATURES SECTION */

.features-heading {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 5px;
}
.features-heading > h2 {
  display: flex;
  align-self: center;
  grid-column: 1/2;
  font-size: 10px;
  top: 0;
  left: 0;
}
.line {
  grid-column: 2/3;
  border-top: 1px solid #000;
  height: 1px;
  align-self: center;
}
.features-box {
  display: grid;
  grid-template-columns: 32.5% 32.5% 32.5%;
  grid-column-gap: 5px;
}
.features-box li {
  display: flex;
  width: 100%;
  list-style: none;
  margin-right: 5px;
}
.features-box li:last-of-type {
  margin-right: 0;
}
.features-news {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}
.features-news-image {
  display: flex;
  width: 100%;
}
.features-news-image img {
  object-fit: cover;
  width: 100%;
}
.features-news-text {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  padding-top: 5px;
}
.features-news-text h3 {
  font-size: 8px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 600px) {
  .features-news-image {
    height: 60%;
  }
  .news-h {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
  .features-heading h2 {
    font-size: 18px;
  }
  .features-news-image {
    height: 70%;
    width: 100%;
  }
  .features-news-text h3 {
    font-size: 12px;
  }
  .features-box {
    grid-column-gap: 9px;
    grid-row-gap: 10px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1400px) {
  .features-heading {
    width: 100%;
  }
  .features-heading h2 {
    font-size: 21px;
  }
  .features-news-text h3 {
    font-size: 12px;
  }
  .features-box {
    display: flex;
  }
}
