/* MORE NEWS SECTION */
.more-news-box {
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}
.more-news-box li {
  display: flex;
  width: 31%;
  margin-right: 12px;
}
.more-news-box li:last-of-type {
  margin-right: 0;
}
.more-news-posts {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}
.more-news-image {
  display: flex;
  width: 100%;
  position: relative;
}
.more-news-text {
  font-size: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.more-news-text h3 {
  font-size: 8px;
}
.more-news-box2 {
  margin-top: 10px;
  list-style: none;

  display: flex;
  margin-bottom: 15px;
}
.more-news-box2 li {
  width: 50%;
}
.more-news-box2 li:nth-of-type(2n) {
  border-left: 1px solid lightgray;
  padding-left: 5px;
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .more-n {
    display: none;
  }
  .more-news-image {
    height: 90px;
  }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
  .more-news-box li {
    margin-right: 9px;
  }
  .more-news-image {
    height: 130px;
  }
  .more-news-text h3 {
    font-size: 12px;
  }
  .more-news-text h3 i {
    display: none;
  }
  .more-news-box2 {
    width: 90%;
    margin: 10px auto;
  }
  .more-n {
    margin: 0 auto;
    height: 130px;
    width: 100%;
  }
}
@media screen and (min-width: 991px) and (max-width: 1400px) {
  .more-news-container {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .more-news-box {
    width: 60%;
    justify-content: space-between;
    border: none;
    margin: 0;
  }
  .more-news-box li:first-of-type {
    width: 32%;
    margin-right: 5px;
  }
  .more-news-box li:nth-of-type(2n) {
    width: 32%;
    margin-right: 5px;
  }
  .more-news-box li:last-of-type {
    width: 32%;
  }
  .more-news-image {
    max-width: 100%;
    max-height: 120px;
    min-height: 120px;
  }
  .more-news-text {
    margin-bottom: 5px;
    padding-top: 5px;
  }
  .more-news-box2 {
    margin-left: 5px;
    width: 41%;
    margin: 0;
  }
  .more-news-box2 li {
    margin-left: 10px;
    border: none;
  }
  .more-news-box2 li:last-of-type {
    border: none;
  }
  .more-news-text h3 {
    font-size: 12px;
  }
  .more-news-text h3 i {
    display: none;
  }
}
